<div class="d-flex justify-content-center align-items-center"><h4>PRODUCTOS</h4></div>
  <br>
  <div id="productViewContainer">
    {{#if products}}
    <table class='table'>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">producto</th>
          <th scope="col">precio</th>
          <th scope="col">imagen</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
              <th scope="row">{{this.id}}</th>
              <td>{{this.title}}</td>
              <td>{{this.price}}</td>
              <td>
                <img class="img" height='50rem' src={{this.image}}>
              </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class='message'>
      <h2>todavia no hay productos</h2>
    </div>
  {{/if}}

  </div>
  